mlruns
*.pyc
__pycache__
.DS_Store
pswd.txt
*pswd*
*password*
values.csv
values*.csv
values1_0old.csv
values2_0old.csv
values1000old.csv
Results/*
NormalizationGraphs2/corr_also_negative_binomial_diversity_intra_list_distance_based_novelty_avg_ratings.png
NormalizationGraphs2/corr_also_negative_binomial_diversity_intra_list_distance_based_novelty_num_of_ratings.png
NormalizationGraphs2/corr_also_negative_binomial_diversity_maximal_distance_based_novelty_avg_ratings.png
NormalizationGraphs2/corr_also_negative_binomial_diversity_maximal_distance_based_novelty_num_of_ratings.png
NormalizationGraphs2/corr_also_negative_binomial_diversity_popularity_complement_avg_ratings.png
NormalizationGraphs2/corr_also_negative_binomial_diversity_popularity_complement_num_of_ratings.png
NormalizationGraphs2/corr_also_negative_intra_list_diversity_intra_list_distance_based_novelty_avg_ratings.png
NormalizationGraphs2/corr_also_negative_intra_list_diversity_intra_list_distance_based_novelty_num_of_ratings.png
NormalizationGraphs2/corr_also_negative_intra_list_diversity_maximal_distance_based_novelty_avg_ratings.png
NormalizationGraphs2/corr_also_negative_intra_list_diversity_maximal_distance_based_novelty_num_of_ratings.png
NormalizationGraphs2/corr_also_negative_intra_list_diversity_popularity_complement_avg_ratings.png
NormalizationGraphs2/corr_also_negative_intra_list_diversity_popularity_complement_num_of_ratings.png
NormalizationGraphs2/corr_also_negative_maximal_diversity_intra_list_distance_based_novelty_avg_ratings.png
NormalizationGraphs2/corr_also_negative_maximal_diversity_intra_list_distance_based_novelty_num_of_ratings.png
NormalizationGraphs2/corr_also_negative_maximal_diversity_maximal_distance_based_novelty_avg_ratings.png
NormalizationGraphs2/corr_also_negative_maximal_diversity_maximal_distance_based_novelty_num_of_ratings.png
NormalizationGraphs2/corr_also_negative_maximal_diversity_popularity_complement_avg_ratings.png
NormalizationGraphs2/corr_also_negative_maximal_diversity_popularity_complement_num_of_ratings.png
NormalizationGraphs2/corr_only_positive_binomial_diversity_intra_list_distance_based_novelty_avg_ratings.png
NormalizationGraphs2/corr_only_positive_binomial_diversity_intra_list_distance_based_novelty_num_of_ratings.png
NormalizationGraphs2/corr_only_positive_binomial_diversity_maximal_distance_based_novelty_avg_ratings.png
NormalizationGraphs2/corr_only_positive_binomial_diversity_maximal_distance_based_novelty_num_of_ratings.png
NormalizationGraphs2/corr_only_positive_binomial_diversity_popularity_complement_avg_ratings.png
NormalizationGraphs2/corr_only_positive_binomial_diversity_popularity_complement_num_of_ratings.png
NormalizationGraphs2/corr_only_positive_intra_list_diversity_intra_list_distance_based_novelty_avg_ratings.png
NormalizationGraphs2/corr_only_positive_intra_list_diversity_intra_list_distance_based_novelty_num_of_ratings.png
NormalizationGraphs2/corr_only_positive_intra_list_diversity_maximal_distance_based_novelty_avg_ratings.png
NormalizationGraphs2/corr_only_positive_intra_list_diversity_maximal_distance_based_novelty_num_of_ratings.png
NormalizationGraphs2/corr_only_positive_intra_list_diversity_popularity_complement_avg_ratings.png
NormalizationGraphs2/corr_only_positive_intra_list_diversity_popularity_complement_num_of_ratings.png
NormalizationGraphs2/corr_only_positive_maximal_diversity_intra_list_distance_based_novelty_avg_ratings.png
NormalizationGraphs2/corr_only_positive_maximal_diversity_intra_list_distance_based_novelty_num_of_ratings.png
NormalizationGraphs2/corr_only_positive_maximal_diversity_maximal_distance_based_novelty_avg_ratings.png
NormalizationGraphs2/corr_only_positive_maximal_diversity_maximal_distance_based_novelty_num_of_ratings.png
NormalizationGraphs2/corr_only_positive_maximal_diversity_popularity_complement_avg_ratings.png
NormalizationGraphs2/corr_only_positive_maximal_diversity_popularity_complement_num_of_ratings.png
NormalizationGraphs2/line_also_negative_importance.png
NormalizationGraphs2/line_also_negative_rank.png
NormalizationGraphs2/line_also_negative_user_profile_count.png
NormalizationGraphs2/line_avg_ratings_importance.png
NormalizationGraphs2/line_avg_ratings_rank.png
NormalizationGraphs2/line_avg_ratings_user_profile_count.png
NormalizationGraphs2/line_binomial_diversity_importance.png
NormalizationGraphs2/line_binomial_diversity_rank.png
NormalizationGraphs2/line_binomial_diversity_user_profile_count.png
NormalizationGraphs2/line_intra_list_distance_based_novelty_importance.png
NormalizationGraphs2/line_intra_list_distance_based_novelty_rank.png
NormalizationGraphs2/line_intra_list_distance_based_novelty_user_profile_count.png
NormalizationGraphs2/line_intra_list_diversity_importance.png
NormalizationGraphs2/line_intra_list_diversity_rank.png
NormalizationGraphs2/line_intra_list_diversity_user_profile_count.png
NormalizationGraphs2/line_kalibrace_importance.png
NormalizationGraphs2/line_kalibrace_rank.png
NormalizationGraphs2/line_kalibrace_user_profile_count.png
NormalizationGraphs2/line_maximal_distance_based_novelty_importance.png
NormalizationGraphs2/line_maximal_distance_based_novelty_rank.png
NormalizationGraphs2/line_maximal_distance_based_novelty_user_profile_count.png
NormalizationGraphs2/line_maximal_diversity_importance.png
NormalizationGraphs2/line_maximal_diversity_rank.png
NormalizationGraphs2/line_maximal_diversity_user_profile_count.png
NormalizationGraphs2/line_num_of_ratings_importance.png
NormalizationGraphs2/line_num_of_ratings_rank.png
NormalizationGraphs2/line_num_of_ratings_user_profile_count.png
NormalizationGraphs2/line_only_positive_importance.png
NormalizationGraphs2/line_only_positive_rank.png
NormalizationGraphs2/line_only_positive_user_profile_count.png
NormalizationGraphs2/line_popularity_complement_importance.png
NormalizationGraphs2/line_popularity_complement_rank.png
NormalizationGraphs2/line_popularity_complement_user_profile_count.png
OldNormalizationGraphs2/corr_also_negative_binomial_diversity_intra_list_distance_based_novelty_avg_ratings.png
OldNormalizationGraphs2/corr_also_negative_binomial_diversity_intra_list_distance_based_novelty_num_of_ratings.png
OldNormalizationGraphs2/corr_also_negative_binomial_diversity_maximal_distance_based_novelty_avg_ratings.png
OldNormalizationGraphs2/corr_also_negative_binomial_diversity_maximal_distance_based_novelty_num_of_ratings.png
OldNormalizationGraphs2/corr_also_negative_binomial_diversity_popularity_complement_avg_ratings.png
OldNormalizationGraphs2/corr_also_negative_binomial_diversity_popularity_complement_num_of_ratings.png
OldNormalizationGraphs2/corr_also_negative_intra_list_diversity_intra_list_distance_based_novelty_avg_ratings.png
OldNormalizationGraphs2/corr_also_negative_intra_list_diversity_intra_list_distance_based_novelty_num_of_ratings.png
OldNormalizationGraphs2/corr_also_negative_intra_list_diversity_maximal_distance_based_novelty_avg_ratings.png
OldNormalizationGraphs2/corr_also_negative_intra_list_diversity_maximal_distance_based_novelty_num_of_ratings.png
OldNormalizationGraphs2/corr_also_negative_intra_list_diversity_popularity_complement_avg_ratings.png
OldNormalizationGraphs2/corr_also_negative_intra_list_diversity_popularity_complement_num_of_ratings.png
OldNormalizationGraphs2/corr_also_negative_maximal_diversity_intra_list_distance_based_novelty_avg_ratings.png
OldNormalizationGraphs2/corr_also_negative_maximal_diversity_intra_list_distance_based_novelty_num_of_ratings.png
OldNormalizationGraphs2/corr_also_negative_maximal_diversity_maximal_distance_based_novelty_avg_ratings.png
OldNormalizationGraphs2/corr_also_negative_maximal_diversity_maximal_distance_based_novelty_num_of_ratings.png
OldNormalizationGraphs2/corr_also_negative_maximal_diversity_popularity_complement_avg_ratings.png
OldNormalizationGraphs2/corr_also_negative_maximal_diversity_popularity_complement_num_of_ratings.png
OldNormalizationGraphs2/corr_only_positive_binomial_diversity_intra_list_distance_based_novelty_avg_ratings.png
OldNormalizationGraphs2/corr_only_positive_binomial_diversity_intra_list_distance_based_novelty_num_of_ratings.png
OldNormalizationGraphs2/corr_only_positive_binomial_diversity_maximal_distance_based_novelty_avg_ratings.png
OldNormalizationGraphs2/corr_only_positive_binomial_diversity_maximal_distance_based_novelty_num_of_ratings.png
OldNormalizationGraphs2/corr_only_positive_binomial_diversity_popularity_complement_avg_ratings.png
OldNormalizationGraphs2/corr_only_positive_binomial_diversity_popularity_complement_num_of_ratings.png
OldNormalizationGraphs2/corr_only_positive_intra_list_diversity_intra_list_distance_based_novelty_avg_ratings.png
OldNormalizationGraphs2/corr_only_positive_intra_list_diversity_intra_list_distance_based_novelty_num_of_ratings.png
OldNormalizationGraphs2/corr_only_positive_intra_list_diversity_maximal_distance_based_novelty_avg_ratings.png
OldNormalizationGraphs2/corr_only_positive_intra_list_diversity_maximal_distance_based_novelty_num_of_ratings.png
OldNormalizationGraphs2/corr_only_positive_intra_list_diversity_popularity_complement_avg_ratings.png
OldNormalizationGraphs2/corr_only_positive_intra_list_diversity_popularity_complement_num_of_ratings.png
OldNormalizationGraphs2/corr_only_positive_maximal_diversity_intra_list_distance_based_novelty_avg_ratings.png
OldNormalizationGraphs2/corr_only_positive_maximal_diversity_intra_list_distance_based_novelty_num_of_ratings.png
OldNormalizationGraphs2/corr_only_positive_maximal_diversity_maximal_distance_based_novelty_avg_ratings.png
OldNormalizationGraphs2/corr_only_positive_maximal_diversity_maximal_distance_based_novelty_num_of_ratings.png
OldNormalizationGraphs2/corr_only_positive_maximal_diversity_popularity_complement_avg_ratings.png
OldNormalizationGraphs2/corr_only_positive_maximal_diversity_popularity_complement_num_of_ratings.png
OldNormalizationGraphs2/line_also_negative_importance.png
OldNormalizationGraphs2/line_also_negative_rank.png
OldNormalizationGraphs2/line_also_negative_user_profile_count.png
OldNormalizationGraphs2/line_avg_ratings_importance.png
OldNormalizationGraphs2/line_avg_ratings_rank.png
OldNormalizationGraphs2/line_avg_ratings_user_profile_count.png
OldNormalizationGraphs2/line_binomial_diversity_importance.png
OldNormalizationGraphs2/line_binomial_diversity_rank.png
OldNormalizationGraphs2/line_binomial_diversity_user_profile_count.png
OldNormalizationGraphs2/line_intra_list_distance_based_novelty_importance.png
OldNormalizationGraphs2/line_intra_list_distance_based_novelty_rank.png
OldNormalizationGraphs2/line_intra_list_distance_based_novelty_user_profile_count.png
OldNormalizationGraphs2/line_intra_list_diversity_importance.png
OldNormalizationGraphs2/line_intra_list_diversity_rank.png
OldNormalizationGraphs2/line_intra_list_diversity_user_profile_count.png
OldNormalizationGraphs2/line_kalibrace_importance.png
OldNormalizationGraphs2/line_kalibrace_rank.png
OldNormalizationGraphs2/line_kalibrace_user_profile_count.png
OldNormalizationGraphs2/line_maximal_distance_based_novelty_importance.png
OldNormalizationGraphs2/line_maximal_distance_based_novelty_rank.png
OldNormalizationGraphs2/line_maximal_distance_based_novelty_user_profile_count.png
OldNormalizationGraphs2/line_maximal_diversity_importance.png
OldNormalizationGraphs2/line_maximal_diversity_rank.png
OldNormalizationGraphs2/line_maximal_diversity_user_profile_count.png
OldNormalizationGraphs2/line_num_of_ratings_importance.png
OldNormalizationGraphs2/line_num_of_ratings_rank.png
OldNormalizationGraphs2/line_num_of_ratings_user_profile_count.png
OldNormalizationGraphs2/line_only_positive_importance.png
OldNormalizationGraphs2/line_only_positive_rank.png
OldNormalizationGraphs2/line_only_positive_user_profile_count.png
OldNormalizationGraphs2/line_popularity_complement_importance.png
OldNormalizationGraphs2/line_popularity_complement_rank.png
OldNormalizationGraphs2/line_popularity_complement_user_profile_count.png
Logs/2023_12_03__14__25__18UserActs.txt
Logs/Blocks.txt
Logs/Interactions.txt
Logs/MetricsImportanceSettings.txt
Logs/Ratings.txt
Logs/RecommenderQueries.txt
Logs/Unblocks.txt
Logs/UserActs.txt
Logs/UserActSuggestions.txt
Logs/UserAnswers.txt
Logs/RecommenderQueries.txt
Logs/UserActs.txt
